CONTENT BASED RECOMMENDATION

In [1]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [3]:
data = pd.DataFrame({
    'id':[1,2,3,4,5],
    'description' : ['Indian Cricket councile known as ICC',
                     'Cricket is a famous sports in India and people likes to play it',
                     'MSDhoni , Virat Kohli and Rohit Sharma are legends of Indian Cricket',
                     'AI is subject taught in 6th semester ICT department',
                     'Marwadi University has servral departments']
})

WORD EMBEDDING VECTORS

In [4]:
tfidf = TfidfVectorizer(stop_words='english')
tfidf_matrix = tfidf.fit_transform(data['description'])

In [5]:
tfidf_matrix

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 31 stored elements and shape (5, 28)>

In [9]:
recommendation_of_item = 2

In [10]:
cosine = cosine_similarity(tfidf_matrix, tfidf_matrix)

In [11]:
cosine

array([[1.        , 0.08723368, 0.20379524, 0.        , 0.        ],
       [0.08723368, 1.        , 0.06628789, 0.        , 0.        ],
       [0.20379524, 0.06628789, 1.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        , 1.        , 0.        ],
       [0.        , 0.        , 0.        , 0.        , 1.        ]])

In [12]:
sim_scores = list(enumerate(cosine[recommendation_of_item]))
sim_scores

[(0, 0.203795240280424),
 (1, 0.06628788554224761),
 (2, 1.0),
 (3, 0.0),
 (4, 0.0)]

In [15]:
sim_scores = sorted(sim_scores, key=lambda x:x[1], reverse=True)
sim_scores

[(2, 1.0),
 (0, 0.203795240280424),
 (1, 0.06628788554224761),
 (3, 0.0),
 (4, 0.0)]

In [16]:
top_n = 2

In [17]:
extracted_items = sim_scores[1:top_n+1]
extracted_items

[(0, 0.203795240280424), (1, 0.06628788554224761)]

In [19]:
indices = [i[0] for i in extracted_items]
indices

[0, 1]

In [20]:
data.iloc[indices]

   id                                        description
0   1               Indian Cricket councile known as ICC
1   2  Cricket is a famous sports in India and people...